<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/link') %>
</head>
<body>
    <%- include('partials/navbar') %>

    <div class='container-fluid header_menu'>
        <table>
            <tr>
                <th style="padding: 15px;text-align: center;font-size: 15px;">user id</th>
                <th style="padding: 15px;text-align: center;font-size: 15px;">email</th>
            </tr>
 
            <% user.forEach(function(user){ %>
                <tr>
                    <td style="padding: 15px;font-size: 12px;"><%= user._id %></td>
                    <td style="padding: 15px;font-size: 12px;"><%= user.email %></td>
                </tr> 
            <% }) %> 


        </table>
    </div>

    <!-- footer -->

    <%- include('partials/footer') %>
</body>
</html>